.flex {
    display: flex;
}


.jtCenter{
    justify-content: center;
}


.itCenter {
    align-items: center;
}

.centerWrapper{
    width: 100vw;
    height: 100vh;
}

.col {
    flex-direction: column;
}

